@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 300;
    background-color: #fff;
}

.ifloat{
    float: right;
}

/* main nav bar on top of page */
.navbar{
    background-color: #11331f;
    text-align: right;
    /* position: relative; */
    font-size: 1em;
    position: fixed;
    width: 100%;
    top: 0px;
}

.navbar ul{
   list-style-type: none;
   position: relative;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

/* add right border */
.navbar ul li{
    display: inline-flex;
    border-right: 1px groove#fff;
 }

 .navbar ul li:last-of-type{
    border: none;
 } 

 .navbar ul li:first-of-type{
    border-left: 1px groove#fff;
 } 

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 16px;
}

.navbar ul li a:hover, .dropbtn:hover{
    /* border-radius: 5px; */
    background-color: #504e50;
    color: #9ce6e3;
    transition: all 0.3s ease-in;
}

 /* sub menu div styling */
.drop{
    background: #fff;
    border-right: 2px solid #11331f;
    border-left: 2px solid #11331f;
    border-bottom: 2px solid #11331f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 0px 12px 0px #262626;
    position: absolute;
    top: 50px;
    text-align: left;
    display: none;
}

/* display sub menu */
.dropbtn:hover .drop{
    display: block;
}

 /* .drop ul{
    display: block;
 } */

 .drop ul li{
    display: block;
    border: none;
 }

 .drop ul li a{
    color: rgb(139, 63, 63);
 }

 .drop ul li a:hover, .dropbtn1:hover{
    /* border-radius: 5px; */
    background-color: #504e50;
    color: #9ce6e3;
    transition: all 0.3s ease-in;
}

/* link relative to the second drop down  */
.dropbtn1{
    position: relative;
}

/* second drop down menu div */
.drop1{
    background: #fff;
    border-right: 2px solid #11331f;
    border-left: 2px solid #11331f;
    border-bottom: 2px solid #11331f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 0px 12px 0px #262626;
    position: absolute;
    top: 0px;
    left: 100%;
    text-align: left;
    display: none;
}

/* display second drop down menu */
.dropbtn1:hover .drop1{
    display: block;
}
/* contains sidebar and body content */
.section{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    /* column-gap: 20px; */
}

/* side listing */
.sidebar{
    background-color: rgb(139, 63, 63);
    left: 0;
    top: 50px;
    text-align: left;
    /* position: relative; */
    position: fixed;
    flex: 1 0 200px;
    min-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar ul{
    list-style: none;
    display: block;
    overflow-y: auto;
    position: relative;
}

.sidebar ul li{
   border-bottom: 0.58px dotted #59826a;
}

.sidebar ul li a{
   text-decoration: none;
   display: block;
   color:#fff;
   padding: 14px 16px;
}

.sidebar ul li a:hover, .subbtn:hover{
    background-color: #504e50;
    color: #9ce6e3;
    transition: all 0.3s ease-in;
}
/* sub items on side bar */

.submenu ul{
    position: absolute;
    background-color: #fff;
    color: #11331f;
    min-width: 160px;
    display: none;
}

/* dispay the sub item */
.subbtn:hover .submenu ul{
    display: block;
}

.submenu ul li a{
    color: #11331f;
}

/* main content */
.main_content{
    padding: 50px 0px 0px;
    font-size: 1em;
    font-weight: 300px;
    /* color: #11331f; */
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-left: 200px;
    letter-spacing: 1px;
}

/* CONTENT 0NE */
.content1{
    display: flex;
    background-color: #200920;
    color: #fff;
    column-gap: 35px;
    padding: 100px;
    align-items: center;
}

.content11{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
} 

/* CONTENT TWO */

.content2{
    display: flex;
    padding: 50px 100px;
    gap: 50px;
}

.content21, .content22{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    
}

.content21_1, .content21_2, .content22_1, .content22_2{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

/* CONTENT THREE */

.content3{
    display: flex;
    gap: 10px;
    padding: 0px 100px;
}

.main1{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

/* button */

.mospen{
    background-color: #11331f;
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.mospen a{
    text-decoration: none;
    color: #cecece;
}
/* ==================================
                        footer section ========================================== */
.footer{
    /* background-color: #504e50; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    /* row-gap: 20px; */
}

/* first footer section */
.sec_footer1, .sec_footer2{
    display: flex;
    padding: 50px;
    /* background-color: #504e50; */
}

.sec_footer1{
    background-color: #bad8c7;
    gap: 20px;
}

.sec_footer2{
    background-color: #200920;
}

.sec_footer1 ul{
   list-style: none;
}

.sec_footer1 ul li{
    border-bottom: 1px dotted rgba(26, 26, 26, 0.4);
 }
 
.sec_footer1 ul li a{
    text-decoration: none;
    color: #cecece;
    display: block;
    padding: 10px;
}

.sec_footer1 ul li a:hover{
color: rgb(231, 186, 127);
}

.group:last-of-type{
    align-self: flex-end;
}

.footer1 ul{
    list-style: none;
}

.footer1 ul li a{
    background-color: #fff;
    color:#11331f;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.footer2 ul{
    list-style: none;
}

.footer2 ul li a{
    color: #fff;
    background-color:#11331f;
    text-decoration: none;
    display: block;
    padding: 10px;
}


